<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        layout:decorate="~{layout/master}"
>

<!-- TODO:
components of open-po page (in order)
    - a table of daftar PO previously
    - a button to make a new PO
    - an expand button to see content from daftar PO
    - the content is in a text box with two buttons: edit and copy
    - a section to make a new PO 
        - Add Nama, Tanggal, Grup, Produk, Catatan Tambahan, submit button
        - Choose group from dropdown
        - Choose products from a pop up or a checklist
-->

<head>
    <title>Open PO</title>
    <link th:href="@{/lib/highlightjs/styles/github.css}" rel="stylesheet">
    <link th:href="@{/lib/select2/css/select2.min.css}" rel="stylesheet">
    <link th:href="@{/lib/select2/css/select2-bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/lib/datatables.net-dt/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>

<th:block layout:fragment="page_css">
    <link th:href="@{/lib/highlightjs/styles/github.css}" rel="stylesheet">
    <link th:href="@{/lib/select2/css/select2.min.css}" rel="stylesheet">
    <link th:href="@{/lib/datatables.net-dt/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="content">
    <!--what abt Nav bar? How to call left menu?? No, somehow left-menu is already there...-->

    <div class="br-pagetitle hidden-md-up">
        <h4>Daftar PO</h4>
    </div>
    
    <div class="br-pagebody">
        
        <!--Try to start the Table of daftar PO-->
        <div class="br-section-wrapper pd-20">
            <div class="head">
                <h1>Daftar Template PO</h1>
                <button class="btn btn-primary active pd-x-30">Tambah PO</button>
            </div>

            <div class="table-wrapper">
                <table id="daftarPO" class="table display responsive" style="width: 100%;">
                    <thead class="thead-colored thead-primary">
                        <tr>
                            <th class="wd-5">#</th>
                            <th>Nama PO</th>
                            <th>Grup</th>
                            <th>Tanggal PO Buka</th>
                            <th>Tanggal PO Tutup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>PO Duren</th>
                            <th>Grup Duren</th>
                            <th>18 Desember 2021</th>
                            <th>19 Desember 2021</th>
                            <!--How to expand?? After expand must "Sembunyikan Pesan"
                                opt1: the button is a drowdown
                                opt2: button redirects to a section below table showing full template
                                note: add two buttons within
                                function is more prioritized than frontend! go to other sections first
                            -->
                            <th><button class="btn btn-primary">Tampilkan Pesan</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- br-section-wrapper -->


        <!--A section to make a new PO using Form
        - Add Nama, Tanggal, Grup, Produk, Catatan Tambahan, submit button
        - Choose group from dropdown
        - Choose products from a pop up or a checklist
        -->
        <div class="br-section-wrapper pd-20">
            <div class="head">
                <h1>Tambah PO</h1>
            </div>
            <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
              <!--insert PO name-->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Nama: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="firstname" value="PO Duren" placeholder="Masukan nama">
                </div>
              </div><!-- col-4 -->
               
              <!--choose Grup from select2-->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Grup: <span class="tx-danger">*</span></label>
                  <select class="form-control select2" data-placeholder="Pilih grup">
                      <option value="Duren Army">Duren Army</option>
                      <option value="Kerajinan Tangan">Kerajinan Tangan</option>
                  </select>
                  <!-- <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 657px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-mkrp-container"><span class="select2-selection__rendered" id="select2-mkrp-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Pilih satu</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span> -->
                </div>
              </div><!-- col-4 -->
              
              <!--choose PO period from date-->

              <!-- <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="icon ion-calendar tx-16 lh-0 op-6"></i>
                  </div>
                </div>
                <input type="text" class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" id="dp1640593168532">
              </div> -->
          
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Tanggal PO Buka: </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="icon ion-calendar tx-16 lh-0 op-6"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY">
                  </div> 
                </div>     
              </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Tanggal PO Tutup: </label>
                    <input class="form-control fc-datepicker" type="text" placeholder="MM/DD/YYYY">
                  </div>
              </div><!-- col-4 -->

              <!--choose Produk2 from checkbox-->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Produk: </label>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Durian Montong</span>
                    <span>Durian Ucok</span>
                  </label> 
                </div><!-- col-4 -->
              </div>

              <!--optionally add footnote; site add here??-->
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="form-control-label">Footnote: </label>
                  <input class="form-control" type="text" name="notes" value="" placeholder="Catatan tambahan">
                </div>
              </div><!-- col-8 -->
                
                <!-- Example of option form select2 <div class="col-lg-4">
                  <div class="form-group mg-b-10-force">
                    <label class="form-control-label">Country: <span class="tx-danger">*</span></label>
                    <select class="form-control select2 select2-hidden-accessible" data-placeholder="Choose country" data-select2-id="1" tabindex="-1" aria-hidden="true">
                      <option label="Choose country" data-select2-id="3"></option>
                      <option value="USA">United States of America</option>
                      <option value="UK">United Kingdom</option>
                      <option value="China">China</option>
                      <option value="Japan">Japan</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 657px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-mkrp-container"><span class="select2-selection__rendered" id="select2-mkrp-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Choose one</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                  </div>
                </div>-->
              </div><!-- row -->
  
              <div class="form-layout-footer">
                <button class="btn btn-info">Buat Template</button>
                <button class="btn btn-secondary">Batalkan</button>
              </div><!-- form-layout-footer -->
            
            </div>


        </div><!--br-section-wrapper-->
    
    
    </div><!-- br-pagebody; so include all-->

</th:block>

<th:block layout:fragment="page_js">
    <script th:src="@{/lib/highlightjs/highlight.pack.min.js}"></script>
    <script th:src="@{/lib/select2/js/select2.min.js}"></script>
    <script th:src="@{/lib/jquery-validation-1.19.1/dist/jquery.validate.min.js}" type="text/javascript"></script>
    <script th:src="@{/lib/jquery-validation-1.19.1/dist/additional-methods.js}" type="text/javascript"></script>
    <script th:src="@{/lib/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/lib/datatables.net-dt/js/dataTables.dataTables.min.js}"></script>
    <script th:src="@{/lib/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js}"></script>
    <!--maybe related with date-->
    <script th:src="@{/js/bracket.js}"></script>
    <script th:src="@{/lib/jquery-ui/ui/widgets/datepicker.js}"></script>
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
</th:block>
</html>